

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <link rel="icon" href="./images/favicon.ico">
    <title>Hotel</title>
</head>

<style>
    .card-body ul li {
        padding: 2px 0;
    }

    .menuBoxThaoTac1 {
        position: absolute;
        width: 160px;
        height: 160px;
        left: 80px;
        z-index: 1;
        background-color: white;
    }

        .menuBoxThaoTac1 li {
            padding: 8px 0;
        }

            .menuBoxThaoTac1 li:hover {
                padding-left: 4px;
            }


            .menuBoxThaoTac1 li a {
                text-decoration: none;
                color: black;
            }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

</style>
<style>
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-customer {
        position: relative;
}

.content-customer {
        position: absolute;
        top: 8px;
        left: 108px;
}

.item-cus {
    z-index:100;
    align-items: center;
    border-radius: 3px;
}

.name-item-cus {
        height: 26px;
        overflow: hidden;
}

.w-110{
    width:107px;
    min-width: 107px;
    font-size: 14px;
}
.unlist-Style li{
    cursor: pointer;
    /* background-color: aqua; */
    display: inline-block;
}
.unlist-Style li:hover{
    cursor: pointer;
}

.active-tab{
    border-bottom: 3px solid rgb(0, 94, 255);
}

.tab-list li{
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
}

.control-space li{
    padding: 0px 5px;
}

.square{
    display: inline-block;
    height: 10px;
    width: 10px;
}

.note-square li{
    padding: 4px 10px;
}

.hide{
    display: none;
}
.show{
    display: block;
}

#btnThemMoi{
    background-color: transparent;
}
#btnThemMoi:hover{
    background-color: rgb(234, 234, 234);
}

/* new */
.menuBoxThaoTac{
    /* display: block; */
    position: absolute;
    width: 160px;
    height: 120px;
    left: 40px;
    z-index: 1;
    background-color: white;
    /* background-color: aquamarine; */
}

.menuBoxThaoTac li{
    padding: 8px 0;
}

.menuBoxThaoTac li:hover{
    padding-left: 4px;
}


.menuBoxThaoTac li a{
    text-decoration: none;
    color: black;
}

.boxTimeLineAction{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 100px;
    z-index: 1;
    background-color: white;
}

.boxTimeLineAction li{
    padding: 8px 0;
}

.boxTimeLineAction li:hover{
    padding-left: 4px;
}


.boxTimeLineAction li a{
    text-decoration: none;
    color: black;
}
</style>
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model Book
@{
    var dayStart = JsonConvert.SerializeObject(Model.Day);
    var bookRoom = JsonConvert.SerializeObject(Model.BookRooms);
    var mergeCD = JsonConvert.SerializeObject(Model.MergeCDs);
    var enDay = JsonConvert.SerializeObject(Model.EndDay);
}

<body>
    <div class="row row-cols-2">
        <div class="col col-8">
            <!-- tabs -->
            <div style="padding-left: 10px;">
                <button id="btnThemMoi" style="padding: 15px 14px; margin-left: 20px; border: none; color: rgb(0, 124, 0);">
                    <i class="fas fa-plus"></i> Thêm mới
                </button>
                <ul class="unlist-Style tab-list">
                    <li class="active-tab" id="lichTheoPhong">
                        <i class="fas fa-bed" style="width: 30px;"></i> Lịch theo phòng
                    </li>
                    <li id="xemTheoNgay">
                        <i class="fas fa-calendar-check" style="width: 30px;"></i> Xem theo ngày
                    </li>
                </ul>
            </div>

            <div id="box1" class="show">
                <ul class="unlist-Style control-space">
                    <li>
                        <label class="fs-6">Từ ngày</label>
                        <input class="form-control" type="date" onchange="dayStartChange()" id="dayStart">
                    </li>
                    <li>
                        <select class="form-select" name="loaiPhong" id="loaiPhong">
                            <option value="">Loại phòng</option>
                            <option value="don">Phòng đơn</option>
                            <option value="doi">Phòng đôi</option>
                        </select>
                    </li>
                    <li>
                        <label class="fs-6">Tên phòng</label>
                        <input class="form-control" type="text" name="" id="">
                    </li>
                </ul>

                <ul class="unlist-Style note-square">
                    <li>
                        <span class="square" style="background-color: rgb(0, 162, 255);"></span> Chưa nhận phòng
                    </li>
                    <li>
                        <span class="square" style="background-color: rgb(0, 142, 35);"></span> Đã nhận phòng
                    </li>
                    <li>
                        <span class="square" style="background-color: rgb(191, 255, 0);"></span> Đã trả phòng
                    </li>
                </ul>

                <div>
                    <div class="table">
                        <div>
                            <table>
                                <tr>
                                    <th scope="col" class="border w-110">Phòng</th>
                                    <th class="border w-110">@Model.Day.ToString("dd/MM")</th>
                                    <th class="border w-110">@Model.Day.AddDays(1).ToString("dd/MM")</th>
                                    <th class="border w-110">@Model.Day.AddDays(2).ToString("dd/MM")</th>
                                    <th class="border w-110">@Model.Day.AddDays(3).ToString("dd/MM")</th>
                                    <th class="border w-110">@Model.Day.AddDays(4).ToString("dd/MM")</th>
                                    <th class="border w-110">@Model.Day.AddDays(5).ToString("dd/MM")</th>
                                    <th class="border w-110">@Model.Day.AddDays(6).ToString("dd/MM")</th>
                                </tr>
                            </table>
                            
                        </div>
                        <div>
                            @functions {

                                public int GetTimeSpan(DateTime startDate, DateTime endDate)
                                {
                                    DateTime modelDay = Model.Day;
                                    DateTime modelEndDay = Model.EndDay;

                                    if (startDate < modelDay)
                                        startDate = modelDay;
                                    if (endDate > modelEndDay)
                                        endDate = modelEndDay;

                                    TimeSpan timeSpan = endDate - startDate;
                                    int totalDays = (int)Math.Floor(timeSpan.TotalDays);

                                    

                                    return totalDays + 1;
                                }
                            }
                            @foreach (var room in Model.Rooms)
                            {

                                <div class="container-customer">
                                    <table>
                                        <tr>
                                            <td class="border w-110">@room.Name</td>
                                            <td class="border w-110 "></td>
                                            <td class="border w-110"></td>
                                            <td class="border w-110"></td>
                                            <td class="border w-110"></td>
                                            <td class="border  w-110"></td>
                                            <td class="border  w-110"></td>
                                            <td class="border  w-110"></td>

                                        </tr>
                                    </table>
                                    <div class="content-customer p-0 ">
                                        @if(Model.BookRooms != null)
                                        {
                                            @foreach (var item in Model.BookRooms)
                                            {
                                                @if (item.Reservation != null)
                                                {
                                                    @foreach (var roomId in item.Reservation.RoomIds)
                                                    {
                                                        if (roomId == room.Id && item.ReservationDetail.Count == 0)
                                                        {
                                                            var t = GetTimeSpan(item.Reservation.ReservedAt, item.Reservation.CheckedOut);
                                                            var v = t*107 - 54;
                                                            if (item.Reservation.ReservedAt <= Model.Day)
                                                            {
                                                                v = 0;
                                                            }
                                                            <div class="timeLine d-flex bg-primary item-cus py-1 px-2" style="width: @(t*107)px; left: @(v)px">
                                                                    <i class="fa-solid fa-user-tie" style="height: 18px;"></i>
                                                                <div class="name-item-cus">@item.Customer.FullName</div>
                                                                <div class="boxTimeLineAction shadow hide" style="z-index: 1;">
                                                                    <ul class="text-start p-0 ps-2" style="list-style: none; height: 300px;">
                                                                        <li><a href="#"><i class="fas fa-edit" style="width: 25px;"></i> Chỉnh sửa</a></li>
                                                                        <li><a href="#"><i class="fas fa-key" style="width: 25px;"></i> Nhận phòng</a></li>
                                                                        <li><a href="#"><i class="fas fa-times-circle" style="width: 25px;"></i> Hủy đặt phòng</a></li>
                                                                        <li><a href="#"><i class="fas fa-trash" style="width: 25px;"></i> Xóa</a></li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                        }
                                                    }
                                                }
                                            
                                            }
                                        }
                                    
                                        @if(Model.MergeCDs != null)
                                        {
                                            @foreach (var item in Model.MergeCDs)
                                            {
                                                if (item.reservationDetail.RoomId == room.Id)
                                                {
                                                    var t = GetTimeSpan(item.reservationDetail.CheckedInAt, item.reservationDetail.CheckedOutAt.Value);
                                                    var v = t*107 - 54;
                                                    if (item.reservationDetail.CheckedInAt <= Model.Day)
                                                    {
                                                        v = 0;
                                                    }
                                                    <div class=" timeLine d-flex item-cus py-1 px-2" style="width: @(t*107)px; left: @(v)px; background-color: rgb(0, 142, 35);">
                                                            <i class="fa-solid fa-user-tie" style="height: 18px;"></i>
                                                            <div class="name-item-cus">@item.customer.FullName</div>
                                                        <div class="boxTimeLineAction shadow hide" style="z-index: 1;">
                                                            <ul class="text-start p-0 ps-2" style="list-style: none; height: 300px;">
                                                                <li><a href="#"><i class="fas fa-edit" style="width: 25px;"></i> Chỉnh sửa</a>

                                                    </li>
                                                                <li><a href="#"><i class="fas fa-key" style="width: 25px;"></i> Nhận phòng</a></li>
                                                                <li><a href="#"><i class="fas fa-times-circle" style="width: 25px;"></i> Hủy đặt phòng</a></li>
                                                                <li><a href="#"><i class="fas fa-trash" style="width: 25px;"></i> Xóa</a></li>
                                                            </ul>
                                                        </div>
                                                        </div>
                                                }
                                            }
                                        }
                                    </div>
                                    
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div id="box2" class="hide">
                <ul class="unlist-Style">
                    <input class="form-control" type="date" onchange="dayReservationChange()" id="ReservationDay">
                </ul>
                <div class="d-flex flex-wrap room-list-panel ng-star-inserted" id="viewReservationInDay">
                    
                </div>
            </div>
        </div>
        <div class="col col-2" id="contentu" >
            
        </div>
    </div>

   
    


    <script>
        const btnLichTheoPhong = document.getElementById("lichTheoPhong");
        const btnXemTheoNgay = document.getElementById("xemTheoNgay")

        const box1 = document.getElementById("box1");
        const box2 = document.getElementById("box2");

        const btnThemMoi = document.getElementById("btnThemMoi")
        const formAddNew = document.getElementById("formAddNew")
        

        btnThemMoi.addEventListener("click",()=>{
            if(formAddNew.classList.contains("hide")){
                formAddNew.classList.remove("hide");
                formAddNew.classList.add("show");
            }
            else{
                formAddNew.classList.add("hide");
                formAddNew.classList.remove("show");
            }
        })

        btnLichTheoPhong.addEventListener("click", ()=>{
            if(box1.classList.contains("hide") && !btnLichTheoPhong.classList.contains("active-tab")){
                box1.classList.add("show");
                box2.classList.add("hide");
                
                box1.classList.remove("hide");
                box2.classList.remove("show");

                btnLichTheoPhong.classList.add("active-tab");
                btnXemTheoNgay.classList.remove("active-tab");
            }
        });

        btnXemTheoNgay.addEventListener("click", () => {
            if (box2.classList.contains("hide") && !btnXemTheoNgay.classList.contains("active-tab")) {
                box2.classList.add("show");
                box1.classList.add("hide");
                
                box2.classList.remove("hide");
                box1.classList.remove("show");

                btnLichTheoPhong.classList.remove("active-tab")
                btnXemTheoNgay.classList.remove("active-tab");
            }
        });


        var list = document.querySelectorAll(".menuBoxThaoTac");
        document.querySelectorAll(".btnThaoTac").forEach((val, index) => {
            val.addEventListener("click",()=>{
                if(list[index].classList.contains("hide")){
                    list[index].classList.add("show");
                    list[index].classList.remove("hide");
                }
                else
                {
                    list[index].classList.add("hide");
                    list[index].classList.remove("show");
                }
            })
        });

        var listTimeLine = document.querySelectorAll(".boxTimeLineAction");
        document.querySelectorAll(".timeLine").forEach((val, index) => {
            val.addEventListener("click",()=>{
                if(listTimeLine[index].classList.contains("hide")){
                    listTimeLine[index].classList.add("show");
                    listTimeLine[index].classList.remove("hide");
                }
                else
                {
                    listTimeLine[index].classList.add("hide");
                    listTimeLine[index].classList.remove("show");
                }
            })
        });




    </script>

</body>




</html>

<script>
    var today = new Date();
    var startDate = @Html.Raw(dayStart);
    startDate = new Date(startDate);
    var bookRoom = @Html.Raw(bookRoom);
    var mergeCD = @Html.Raw(mergeCD);
    

    loadReservation();
    
    // Chuyển đổi birthdate thành định dạng yyyy-mm-dd
    let day = (startDate.getDate() + 1).toString().padStart(2, '0');
    let month = (startDate.getMonth() + 1).toString().padStart(2, '0');
    let year = startDate.getFullYear();
    let formattedBirthdate = new Date(year, month - 1, day); // Chuyển đổi thành kiểu Date

    // Gán giá trị đã định dạng vào trường birthdate
    $("#dayStart").val(formattedBirthdate.toISOString().slice(0, 10)); // Gán giá trị Date vào thuộc tính value của input

    // Chuyển đổi birthdate thành định dạng yyyy-mm-dd
    day = (today.getDate()).toString().padStart(2, '0');
    month = (today.getMonth() + 1).toString().padStart(2, '0');
    year = today.getFullYear();
    formattedBirthdate = new Date(year, month - 1, day); // Chuyển đổi thành kiểu Date

    // Gán giá trị đã định dạng vào trường birthdate
    $("#ReservationDay").val(formattedBirthdate.toISOString().slice(0, 10)); // Gán giá trị Date vào thuộc tính value của input

    async function dayStartChange()
    {
        startDate = $("#dayStart").val();
        redirect()
    }

    function redirect()
    {
        window.location.href = `/BookRoom?startDate=${startDate}`;
    }

    async function dayReservationChange()
    {
        var reservationDayVal = $("#ReservationDay").val();
        if (reservationDayVal && /^[0-9]{4}-[0-9]{2}-[0-9]{2}$/.test(reservationDayVal)) {
            today = new Date(reservationDayVal);
            loadReservation();
        }
        
    }

    async function loadReservation()
    {
        today.setHours(0, 0, 0, 0);
        var enDay = new Date(today.getTime())
        enDay.setHours(0, 0, 0, 0);
        enDay.setDate(enDay.getDate() + 1);
        $("#viewReservationInDay").html('');

        $.ajax({
            url: '/BookRoom/GetReservation',
            type: 'GET',
            data: { startDate: today.toISOString(), endDate: enDay.toISOString(), onlyReservedAt: true },
            success: function (result) {
                result.forEach(function(item, index) {
                    addView(stringLayOut(item.customer, item.reservationDetail, index));
                })
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }

        })
    }

    function stringLayOut(item, detail, index)
    {
        return '<div style="width: 200px; height: 200px;" class="shadow mt-3 me-3"><div class="card-head row"><div class="col"><span class="text-danger fw-bold ps-2">#' + index + '</span></div><div class="col text-end position-relative"><i class="fas fa-ellipsis-v menu-his btnThaoTac1" onclick="onmenuhis(\'' + index + '\')" style="cursor: pointer; position: relative; right: 10px;"></i><div id="btnThaoTac' + index + '" class="menuBoxThaoTac1 shadow hide" style="z-index: 1;"><ul class="text-start p-0 ps-2" style="list-style: none; height: 300px;"><li><a onclick="editView(\'' + item.id + '\')"><i class="fas fa-edit" style="width: 25px;"></i> Chỉnh sửa</a></li><li><a onclick="rentView(\'' + item.id + '\')" ><i class="fas fa-key" style="width: 25px;"></i> Nhận phòng</a></li><li><a onclick="canceView(\'' + item.id + '\')"><i class="fas fa-times-circle ' + (detail.length > 0 ? "d-none" : "") + '" style="width: 25px;"></i> Hủy đặt phòng</a></li><li><a onclick="deleteView(\'' + item.id + '\')"><i class="fas fa-trash" style="width: 25px;"></i> Xóa</a></li></ul></div></div></div><hr class="p-0 m-0" /><div class="card-body"><ul style="list-style: none;" class="p-0 ps-2"><li><i class="fas fa-user-circle" style="width: 24px;"></i>' + item.fullName + '</li><li><i class="fas fa-exchange-alt" style="width: 24px;"></i>' + (detail.length > 0 ? "Đã nhận phòng" : "Chưa nhận phòng") + '</li><li><i class="fas fa-phone" style="width: 24px;"></i> 0111 111 111</li></ul></div></div>'
    }

    function addView(html) {
        $("#viewReservationInDay").append(html);
    }

    async function onmenuhis(index)
    {
        if($("#btnThaoTac" + index).hasClass("hide")){
            $("#btnThaoTac" + index).removeClass("hide");
            $("#btnThaoTac" + index).addClass("show");
        } 
        else
        {
            $("#btnThaoTac" + index).removeClass("show");
            $("#btnThaoTac" + index).addClass("hide");
        }
    }

    async function editView(id)
    {
        console.log(id);
    }

    async function rentView(id) {
        console.log(id);
    }

    async function canceView(id) {
        console.log(id);
    }

    async function deleteView(id) {
        console.log(id);
    }
</script>
