
@{
    Layout = null;
}

@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@model MergeRRO

<style>
    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .quantity-input {
        width: 36px;
        padding: 5px 0;
        outline: none;
    }

    .out-none {
        outline: none;
    }
</style>

<div class="hearder border-end d-flex justify-content-between">
    <p>@Model.Room.Name</p>
    <button type="button" class="btn btn-success">Lưu</button>
</div>
@{
    DateTime today = DateTime.Now;
    var orderPrice = Model.Order.TotalPrice(Model.Order);
    var roomPiceDay = Model.Detail.roomPiceDay(Model.Detail, Model.Detail.CheckedInAt, today);
    var roomSurcharge = Model.Detail.roomSurcharge(Model.Detail, Model.Room, Model.Detail.CheckedInAt, today);
    var stringIn = Model.Detail.hourseSurchargeCheckIn(Model.Detail.CheckedInAt);
    var stringOut = Model.Detail.hourseSurchargeCheckOut(today);
    var adultsExceed = Model.Detail.adultsExceed(Model.Detail, Model.Room);
    var childrenExceed = Model.Detail.childrenExceed(Model.Detail, Model.Room);
}
<div class="body">
    <div class="d-flex mt-2">
        <div class="me-3">
            <label>Ngày nhận phòng</label>
            <div class="d-flex me-3">
                <input type="text" class="form-control" id="checkInDate" readonly value="@(Model.Detail.CheckedInAt.ToString("MM-dd-yyyy"))">
                <span class="input-group" id="icon_checkInDate">
                    <span class="input-group-text bg-white">
                        <i class="fa fa-calendar"></i>
                    </span>
                </span>
            </div>
        </div>
        <div>
            <lable>Giờ nhận phòng</lable>
            <input type="text" class="form-control" id="checkInTime" value="@(Model.Detail.CheckedInAt.ToString("HH:mm"))">
        </div>
    </div>
    <div class="d-flex mt-2">
        <div class="me-3">
            <lable>Ngày trả phòng</lable>
            <div class="d-flex me-3">
                <input type="text" class="form-control" id="checkOutDate" readonly value="@(today.ToString("MM-dd-yyyy"))">
                <span class="input-group" id="icon_checkOutDate">
                    <span class="input-group-text bg-white">
                        <i class="fa fa-calendar"></i>
                    </span>
                </span>
            </div>
        </div>
        <div>
            <label>Giờ trả phòng</label>
            <input type="text" class="form-control" id="checkOutTime" value="@(today.ToString("HH:mm"))">
        </div>
    </div>
    <div class="d-flex mt-2">
        @if(stringIn != "")
        {
            <div class="me-3">
                <lable>Nhận sớm @stringIn</lable>
            </div>
        }
        @if (stringOut != "")
        {
            <div>
                <lable>Trả muộn @stringOut</lable>
            </div>
        }
    </div>
    <div class="d-flex mt-2">
        @if (adultsExceed != 0)
        {
            <div class="me-3">
                <lable>Người lớn vượt @adultsExceed</lable>
            </div>
        }
        @if (childrenExceed != 0)
        {
            <div>
                <lable>Trả muộn @childrenExceed</lable>
            </div>
        }
    </div>
    <div class="d-flex mt-2">
        <div class="me-3">
            <label>Tiền phòng</label>
            <div class="d-flex mt-3">
                <input type="number" id="inputPriceRoom" class="text-end out-none p-0 border-0 border-bottom" value="@(roomPiceDay/1000)" min="0" />
                <span class="border-bottom">.000 ₫</span>
            </div>
        </div>
        <div>Tiền phòng @Model.Detail.daysIn(Model.Detail.CheckedInAt, today) ngày</div>
    </div>

    <div class="d-flex mt-2">
        <div class="me-3">
            <label>Phụ thu</label>
            <div class="d-flex mt-3">
                <input type="number" id="inputCollectionFee" class="text-end out-none p-0 border-0 border-bottom" value="@(roomSurcharge/1000)" min="0" />
                <span class="border-bottom">.000 ₫</span>
            </div>
        </div>
        <div>
            <label>Tiền trả trước</label>
            <div class="d-flex mt-3">
                <input type="number" id="inputDeposit" class="text-end out-none p-0 border-0 border-bottom" value="@(Model.Detail.Deposit/1000)" min="0" />
                <span class="border-bottom">.000 ₫</span>
            </div>
        </div>
    </div>

    <div class="d-flex mt-2">
        <div class="me-3">
            <label>Tiền menu</label>
            <div class="d-flex mt-3">
                <input type="number" id="inputPriceMenu" class="text-end out-none p-0 border-0 border-bottom" value="@(orderPrice)" min="0" />
                <span class="border-bottom">.000 ₫</span>
            </div>
        </div>
        <div>
            <label>Tổng tiền</label>
            <div class="d-flex mt-3">
                <input type="number" id="inputTotalMoney" class="text-end out-none p-0 border-0 border-bottom" value="@(roomPiceDay + orderPrice + roomSurcharge)" min="0" />
                <span class="border-bottom">.000 ₫</span>
            </div>
        </div>
    </div>

    <div class="d-flex mt-2">
        <div>
            <label>Tiền cần thanh toán</label>
            <div class="d-flex mt-3">
                <input type="number" id="inputIntoMoney" class="text-end out-none p-0 border-0 border-bottom" value="@(roomPiceDay + orderPrice + roomSurcharge - Model.Detail.Deposit)" min="0" />
                <span class="border-bottom">.000 ₫</span>
            </div>
        </div>
    </div>

</div>
<script>
    
</script>
