
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

@using Newtonsoft.Json;

@model HotelManagement.Models.Rent

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>

</style>

<div class="d-flex fex-row py-4">
    <div class="border-end">
        <div class="d-flex flex-row mb-3">
            <div class="d-flex flex-row align-items-center me-2">
                <i class="fa-regular fa-arrow-up me-2"></i>
                <i class="fa-regular fa-arrow-down me-2"></i>
                <select class="form-select" aria-label="Default select example">
                    <option selected value="name">Sắp xếp theo tên</option>
                </select>
            </div>
            
            <div class="d-flex flex-row align-items-center">
                <i class="fa-solid fa-magnifying-glass me-2"></i>
                <i class="fa-solid fa-x me-2"></i>
                <input type="email" class="form-control mb-1 ng-valid ng-dirty ng-touched" placeholder="name@example.com">
            </div>
        </div>
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link @(Model.Tap == null ? "active" : "")" id="watting-tab" data-bs-toggle="tab" data-bs-target="#watting" type="button" role="tab" aria-controls="watting" aria-selected="true"><i class="fa-solid fa-door-open me-2"></i> Phòng chờ</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @(Model.Tap == "rented" ? "active" : "")" id="rented-tab" data-bs-toggle="tab" data-bs-target="#rented" type="button" role="tab" aria-controls="rented" aria-selected="false"><i class="fa-solid fa-door-closed me-2"></i> Phòng đang thuê</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @(Model.Tap == "clear" ? "active" : "")" id="clear-tab" data-bs-toggle="tab" data-bs-target="#clear" type="button" role="tab" aria-controls="clear" aria-selected="false"><i class="fa-sharp fa-solid fa-broom-wide me-2"></i> Phòng cần dọn</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @(Model.Tap == "history" ? "active" : "")" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false"><i class="fa-solid fa-clock-rotate-left me-2"></i> Lịch sữ</button>
            </li>
        </ul>
        @{
            var today = DateTime.Now;
        }
        <div class="tab-content" id="rentTabContent" date="@(JsonConvert.SerializeObject(@today))">
            <div class="tab-pane fade @(Model.Tap == null ? "show active" : "")" id="watting" role="tabpanel" aria-labelledby="watting-tab">
                <div>
                    @if (Model.RentRooms != null)
                    {
                        @foreach (var rentRoom in Model.RentRooms)
                        {
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseW@(rentRoom.Id)" aria-expanded="true" aria-controls="collapseW@(rentRoom.Id)">
                                            @rentRoom.Name
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseW@(rentRoom.Id)" class="collapse show">
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap room-list-panel ng-star-inserted">
                                            @foreach (var room in rentRoom.rooms)
                                            {
                                                if (room != null && room.IsEmpty)
                                                {
                                                    <div class="card mt-3 me-3">
                                                        <div class="card-header d-flex align-items-center justify-content-between">
                                                            <p>@room.Name</p>
                                                            <div class="dropdown">
                                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownW@(room.Id)" data-bs-toggle="dropdown" aria-expanded="false">
                                                                </button>
                                                                <ul class="dropdown-menu" aria-labelledby="dropdownW@(room.Id)">
                                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-key"></i> Nhận phòng</button></li>
                                                                    <li><button class="dropdown-item" type="button"><i class="fa-regular fa-calendar-week"></i> Nhận phòng đặt trước</button></li>

                                                                    <li><button class="dropdown-item" onclick="requestClean('@(JsonConvert.SerializeObject(@room))')" type="button" @(room.IsCleaned ? "" : "disabled")><i class="fa-regular fa-tag"></i> Yêu cầu dọn phòng</button></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="d-flex align-items-center">
                                                                <i class="fa-solid fa-person-walking me-2"></i>
                                                                Chưa sử dụng
                                                            </div>
                                                            @if (room.IsCleaned)
                                                            {
                                                                <div class="d-flex align-items-center">
                                                                    <i class="fa-solid fa-check me-2"></i>
                                                                    Đã dọn phòng
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="d-flex align-items-center">
                                                                    <i class="fa-solid fa-x me-2"></i>
                                                                    Chưa dọn phòng
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    
                    
                </div>
            </div>
            <div class="tab-pane fade @(Model.Tap == "rented" ? "show active" : "")" id="rented" role="tabpanel" aria-labelledby="rented-tab">
                <div>
                    @if (Model.RentRooms != null)
                    {
                        @foreach (var rentRoom in Model.RentRooms)
                        {
                            <div class="card">
                                <div class="card-header" id="headingRentedOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseR@(rentRoom.Id)" aria-expanded="true" aria-controls="collapseR@(rentRoom.Id)">
                                            @rentRoom.Name
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseR@(rentRoom.Id)" class="collapse show">
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap room-list-panel ng-star-inserted">
                                            @foreach (var room in rentRoom.rooms)
                                            {
                                                if (room != null && !room.IsEmpty)
                                                {
                                                    @functions {
                                                        public ReOrder? GetReOrder(string roomId)
                                                        {
                                                            foreach(var reOrder in Model.ReOrders)
                                                            {
                                                                if(reOrder.Detail.RoomId == roomId)
                                                                    return reOrder;
                                                            }
                                                            return null;
                                                        }
                                                    }
                                                    var reOrder = GetReOrder(room.Id);
                                                    if(reOrder != null)
                                                    {
                                                        var orderPrice = reOrder.Order.TotalPrice(reOrder.Order);
                                                        var roomPiceDay = reOrder.Detail.roomPiceDay(reOrder.Detail, reOrder.Detail.CheckedInAt, today);
                                                        var roomSurcharge = reOrder.Detail.roomSurcharge(reOrder.Detail, room, reOrder.Detail.CheckedInAt, today);
                                                        <div class="card mt-3 me-3">
                                                            <div class="card-header d-flex align-items-center justify-content-between">
                                                                <p>@room.Name</p>
                                                                <div class="dropdown">
                                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownR@(room.Id)" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownR@(room.Id)" roomid="@(room.Id)">
                                                                        <li><button class="dropdown-item viewEdit" type="button"><i class="fa-solid fa-pen"></i> Chỉnh sửa</button></li>
                                                                        <li><button class="dropdown-item" onclick="viewOrder('@(room.Id)')" type="button"><i class="fa-solid fa-burger-soda"></i> Thêm menu</button></li>
                                                                        <li><button class="dropdown-item" onclick="viewCheck('@(room.Id)')" type="button"><i class="fa-solid fa-user-check"></i> Trả phòng</button></li>
                                                                        <li><button class="dropdown-item" onclick="viewRoomChange('@(room.Id)')" type="button"><i class="fa-solid fa-rotate"></i> Đổi phòng</button></li>
                                                                        <li><button class="dropdown-item" onclick="requestClean('@(JsonConvert.SerializeObject(@room))')" type="button" @(room.IsCleaned ? "" : "disabled")><i class="fa-regular fa-tag"></i> Yêu cầu dọn phòng</button></li>
                                                                        <li><button class="dropdown-item" type="button"><i class="fa-solid fa-trash"></i> Xóa</button></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div>
                                                                    <i class="fa-solid fa-clock"></i>
                                                                    @reOrder.Detail.daysIn(reOrder.Detail.CheckedInAt, today) Ngày
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="me-3">
                                                                        <div class="d-flex align-items-center">
                                                                            <i class="fa-solid fa-burger-soda me-2"></i>
                                                                            @orderPrice
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <i class="fa-regular fa-credit-card me-2"></i>
                                                                            @reOrder.Detail.Deposit
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="d-flex align-items-center">
                                                                            <i class="fa-solid fa-bed me-2"></i>
                                                                            @roomPiceDay
                                                                        </div>
                                                                        <div class="d-flex align-items-center">
                                                                            <i class="fa-solid fa-dollar-sign me-2"></i>
                                                                            @(roomPiceDay + orderPrice + roomSurcharge - reOrder.Detail.Deposit)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade @(Model.Tap == "clear" ? "show active" : "")" id="clear" role="tabpanel" aria-labelledby="clear-tab">
                <div>
                    @if (Model.RentRooms != null)
                    {
                        @foreach (var rentRoom in Model.RentRooms)
                        {
                            <div class="card">
                                <div class="card-header" id="headingClearOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCl@(rentRoom.Id)" aria-expanded="true" aria-controls="collapseCl@(rentRoom.Id)">
                                            @rentRoom.Name
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseCl@(rentRoom.Id)" class="collapse show">
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap room-list-panel ng-star-inserted">
                                            @foreach (var room in rentRoom.rooms)
                                            {
                                                if (room != null && !room.IsCleaned)
                                                {
                                                    <div class="card">
                                                        <div class="card-header d-flex align-items-center justify-content-between">
                                                            <p>@room.Name</p>
                                                            <div class="dropdown">
                                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCl@(room.Id)" data-bs-toggle="dropdown" aria-expanded="false">
                                                                </button>
                                                                <ul class="dropdown-menu" aria-labelledby="dropdownCl@(room.Id)">
                                                                    <li><button class="dropdown-item" onclick="isCleaned('@(JsonConvert.SerializeObject(@room))')" type="button"><i class="fa-regular fa-check"></i> Đã dọn</button></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            @if(room.IsEmpty)
                                                            {
                                                                <div class="d-flex align-items-center">
                                                                    <i class="fa-regular fa-hourglass me-2"></i>
                                                                    Chưa sử dụng
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="d-flex align-items-center">
                                                                    <i class="fa-regular fa-x me-2"></i>
                                                                    Đã sử dụng
                                                                </div>
                                                            }
                                                            <div class="d-flex align-items-center">
                                                                <i class="fa-solid fa-clock me-2"></i>
                                                                @room.daysIn(room.LastCleanedAt, today) ngày trước
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    
                </div>
            </div>
            <div class="tab-pane fade @(Model.Tap == "history" ? "show active" : "")" id="history" role="tabpanel" aria-labelledby="history-tab">
                <div>
                    <div class="card">
                        <div class="card-header" id="headingHistoryOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="true" aria-controls="collapseHistory">
                                    Lịch sử
                                </button>
                            </h5>
                        </div>

                        <div id="collapseHistory" class="collapse show">
                            <div class="card-body">
                                <div class="d-flex flex-wrap room-list-panel ng-star-inserted">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <p>Phòng vip</p>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownHistory1" data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownHistory1">
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-pen"></i> Chỉnh sửa</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-trash"></i> Xóa</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-user-check me-2"></i>
                                                3 ngày trước
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-dollar-sign me-2"></i>
                                                80.000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rightLayout" class="p-3"></div>
</div>

<script>
    $(document).ready(function () {
        let editBtn = $(".viewEdit");
        var rightLayout = $("#rightLayout");
        editBtn.each(function(index, item){
            $(item).click(function () {
                $.ajax({
                    url: '/rent/Edit',
                    type: 'GET',
                    data: { roomId: $(this).parent().parent().attr("roomid") },
                    success: function (result) {
                        rightLayout.html(result);
                    }
                })
            })
        })
    })

    async function viewOrder(id)
    {
        $.ajax({
            url: '/rent/Order',
            type: 'GET',
            data: { roomId: id },
            success: function (result) {
                $("#rightLayout").html(result);
            }
        })
    }

    async function viewRoomChange(id)
    {
        $.ajax({
            url: '/rent/ChangeRoom',
            type: 'GET',
            data: { roomId: id },
            success: function (result) {
                $("#rightLayout").html(result);
            }
        })
    }

    async function requestClean(room)
    {
        room = JSON.parse(room);
        room.isCleaned = false;
        room.lastCleanedAt = new Date();
        room.lastCleanedAt.setHours(room.lastCleanedAt.getHours() + 7);
        updateClean(room);
    }

    async function isCleaned(room)
    {
        room = JSON.parse(room);
        room.lastCleanedAt(room.lastCleanedAt() + 7);
        room.isCleaned = true;
        updateClean(room);
    }

    async function updateClean(room)
    {
        $.ajax({
            url: '/rent/UpdateRoom',
            type: 'PUT',
            data: JSON.stringify(room),
            contentType: 'application/json',
            success: function (result) {
                if (result)
                    window.location.replace('/rent?tap=clear');
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }

        })
    }
    async function viewCheck(id)
    {
        $.ajax({
            url: '/rent/Check',
            type: 'GET',
            data: { roomId: id},
            success: function (result) {
                $("#rightLayout").html(result);
            }
        })
    }
</script>
